.mat-toolbar {
  height: 80px;
  background-color: #1c3042;
  color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

img {
  width: 128px;
  max-width: 128px;
  position: absolute;
  right: 24px;
  bottom: -8px;
}

.menu-title {
  position: absolute;
  font-size: 14px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 1px;
  z-index: 1;
  /* top: 0; */
  left: 12px;
  bottom: 24px;
}

.example-header-image {
  background-image: url("https://rickandmortyapi.com/icons/icon-144x144.png?v=1538abef51e33ef514e8fe1ab9aeab4e");
  background-size: cover;
}

@media (min-width: 320px) {
  .glitch {
    font-size: smaller;
    white-space: break-spaces;
  }
}

@media (min-width: 379px) {
  .glitch {
    width: 70%;
    font-size: 20px;
  }
}

@media (min-width: 540px) {
  .glitch {
    width: 60%;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .glitch {
    font-size: 33px;
  }
}

@media (min-width: 1440px) {
  .glitch {
    font-size: 33px;
  }
}

