<div class="main-cont">

    
    <img src="assets/img/rickAndMortyLogo.png" alt="" class="image-logo">

    <h3 class="h3 glitch" data-text="Mantenedor de personajes de Rick and Morty">Mantenedor de personajes de Rick and Morty</h3>

    <button mat-raised-button color="primary" (click)="goMain()">Ingresar</button>
    <div class="mrpoopy-cont">
        <img src="assets/img/mrpoopyHead.png" class="head-image">
        <div class="hand-shaker">
            <img src="assets/img/mr_poopyHand.png" class="hand-image">

        </div>
    </div>
   
</div>